<%- include('partials/header'); -%>
    <div class="posttitle">
        <div class="div">
            <div class="about">
                <h1>About</h1>
                <p class="bold">
                    <%= homedata %>
                </p>
                <div class="posttitle">
                    <h1> bhagat Singh</h1>
                    <p>
                        Bhagat Singh (27 September 1907[a] – 23 March 1931) was a charismatic Indian revolutionary[6]
                        who participated in the mistaken murder of a junior British police officer[7] in what was to be
                        retaliation for the death of an Indian nationalist.[8] He later took part in a largely symbolic
                        bombing of the Central Legislative Assembly in Delhi and a hunger strike in jail, which—on the
                        back of sympathetic coverage in Indian-owned newspapers—turned him into a household name in the
                        Punjab region, and after his execution at age 23 into a martyr and folk hero in Northern
                        India.[9] Borrowing ideas from Bolshevism and anarchism,[10][11][12][13][14] he electrified a
                        growing militancy in India in the 1930s, and prompted urgent introspection within the Indian
                        National Congress's nonviolent but eventually successful campaign for India's independence.[15]
                        In December 1928, Bhagat Singh and an associate, Shivaram Rajguru, both members of a small
                        revolutionary group, the Hindustan Socialist Republican Association (also Army, or HSRA), shot
                        dead a 21-year-old British police officer, John Saunders, in Lahore, Punjab, in what is today
                        Pakistan, mistaking Saunders, who was still on probation, for the British senior police
                        superintendent, James Scott, whom they had intended to assassinate.[16] They held Scott
                        responsible for the death of a popular Indian nationalist leader Lala Lajpat Rai for having
                        ordered a lathi (baton) charge in which Rai was injured and two weeks thereafter died of a heart
                        attack. As Saunders exited a police station on a motorcycle, he was felled by a single bullet
                        fired from across the street by Rajguru, a marksman.[17][18] As he lay injured, he was shot at
                        close range several times by Singh, the postmortem report showing eight bullet wounds.[19]
                        Another associate of Singh, Chandra Shekhar Azad, shot dead an Indian police head constable,
                        Channan Singh, who attempted to give chase as Singh and Rajguru fled.[17][18] After having
                        escaped, Bhagat Singh and his associates
                    </p>
                </div>

                <div class="posttitle">
                    <h1>
                        White House
                    </h1>
                    <p>
                        The White House is the official residence and workplace of the president of the United States.
                        It is located at 1600 Pennsylvania Avenue NW in Washington, D.C., and has been the residence of
                        every U.S. president since John Adams in 1800. The term "White House" is often used as a metonym
                        for the president and his advisers. The residence was designed by Irish-born architect James
                        Hoban[4] in the neoclassical style. Hoban modelled the building on Leinster House in Dublin, a
                        building which today houses the Oireachtas, the Irish legislature. Construction took place
                        between 1792 and 1800, using Aquia Creek sandstone painted white. When Thomas Jefferson moved
                        into the house in 1801, he (with architect Benjamin Henry Latrobe) added low colonnades on each
                        wing that concealed stables and storage. In 1814, during the War of 1812, the mansion was set
                        ablaze by the British Army in the Burning of Washington, destroying the interior and charring
                        much of the exterior. Reconstruction began almost immediately, and President James Monroe moved
                        into the partially reconstructed Executive Residence in October 1817. Exterior construction
                        continued with the addition of the semi-circular South portico in 1824 and the North portico in
                        1829. Because of crowding within the executive mansion itself, President Theodore Roosevelt had
                        all work offices relocated to the newly constructed West Wing in 1901. Eight years later, in
                        1909, President William Howard Taft expanded the West Wing and created the first Oval Office,
                        which was eventually moved as the section was expanded. In the main mansion (Executive
                        Residence), the third-floor attic was converted to living quarters in 1927 by augmenting the
                        existing hip roof with long shed dormers. A newly constructed East Wing was used as a reception
                        area for social events; Jefferson's colonnades connected the new wings. The East Wing
                        alterations were completed in 1946, creating additional office space. By 1948, the residence's
                        load-bearing walls and</p>
                </div>
                <div class="posttitle">
                    <h1>Bentley</h1>
                    <p>
                        Bentley Motors Limited is a British designer, manufacturer and marketer of luxury cars and SUVs.
                        Headquartered in Crewe, England, the company was founded as Bentley Motors Limited by W. O.
                        Bentley (1888–1971) in 1919 in Cricklewood, North London, and became widely known for winning
                        the 24 Hours of Le Mans in 1924, 1927, 1928, 1929 and 1930. Bentley has been a subsidiary of the
                        Volkswagen Group since 1998 and consolidated under VW's premium brand arm Audi since 2022.
                        Prominent models extend from the historic sports-racing Bentley 4½ Litre and Bentley Speed Six;
                        the more recent Bentley R Type Continental, Bentley Turbo R, and Bentley Arnage; to its current
                        model line, including the Flying Spur, Continental GT, Bentayga and the Mulsanne—which are
                        marketed worldwide, with China as its largest market as of November 2012. Today most Bentley
                        models are assembled at the company's Crewe factory, with a small number assembled at
                        Volkswagen's Dresden factory, Germany, and with bodies for the Continental manufactured in
                        Zwickau and for the Bentayga manufactured at the Volkswagen Bratislava Plant. The joining and
                        eventual separation of Bentley and Rolls-Royce followed a series of mergers and acquisitions,
                        beginning with the 1931 purchase by Rolls-Royce of Bentley, then in receivership. In 1971,
                        Rolls-Royce itself was forced into receivership and the UK government nationalised the
                        company—splitting into two companies the aerospace division (Rolls-Royce Plc) and automotive
                        (Rolls-Royce Motors Limited) divisions—the latter retaining the Bentley subdivision. Rolls-Royce
                        Motors was subsequently sold to engineering conglomerate, Vickers and in 1998, Vickers sold
                        Rolls-Royce to Volkswagen AG. Intellectual property rights to both the name Rolls-Royce as well
                        as the company's logo had been retained not by Rolls-Royce Motors, but by aerospace company
                        Rolls-Royce Plc, which had continued to license both to the automotive division. Thus the sale
                        of "Rolls-Royce" to VW in</p>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer'); -%>