<%- include('partials/header'); -%>
    <div class="div">
        <div class="posttitle">
            <h1 class="contact-h">Feel free to contact us!</h1>
            <div class="spinner">
                <div class="tcimg">
                    <h1>"hey" <p>I Am</p>
                        <p>Tc Choudhary</p>
                    </h1>
                </div>
            </div>
            <div class="icon-main">
                <div class="icon">
                    <a href="https://www.facebook.com/tarachand.mahiya.92?mibextid=ZbWKwL"> <i
                            class="fa-brands fa-facebook"></i></a>
                </div>
                <div class="icon">
                    <a href="https://instagram.com/t___c_choudhary?igshid=MDM4ZDc5MmU="> <i
                            class="fa-brands fa-instagram"></i></a>
                </div>
                <div class="icon">
                    <a href="https://github.com/tcchoudhary"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
        <%- include('partials/footer'); -%>